section.sectionCards {
    height: calc(100vh - 25px);
    width: 100vw;
    display: flex;
    align-items: center;
    padding-inline: 100px;
    justify-content: center;
}

div.conteinerCards {
    height: 470px;
    width: 370px;
    /* border: 1px solid tomato; */
    position: absolute;
    cursor: pointer;
}

div.card {
    width: 370px;
    height: 470px;
    padding: 30px 20px;

    border: 2px solid #216425;
    border-radius: 16px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;

    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;

    transition: all 1.2s ease-in-out;
}

div.card1 {
    background: #a7e1a9;
    position: absolute;
    z-index: 100;
}

div.imgCard {
    display: flex;
    justify-content: center;
}

img.imgCard {
    width: 120px;
}

div.card2 {
    background: #81C784;
    position: absolute;
    z-index: 99;
    transform: rotate(-5deg) scale(.9) translateX(-40px) translateY(10px);
}

div.card3 {
    background: #4CAF50;
    position: absolute;
    z-index: 98;
    transform: rotate(calc(-10deg)) scale(0.8) translateX(-85px) translateY(20px);
}

div.card4 {
    background: #38823c;
    position: relative;
    z-index: 97;
    transform: rotate(calc(-15deg)) scale(0.7) translateX(-130px) translateY(30px);
}

/* ? animações */

.card1.animacaoCard1para2 {
    z-index: 99;
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);

}

.card2.animacaoCard1para2 {
    z-index: 100;
    transform: rotate(0) scale(1) translateX(0) translateY(0);
}

.card3.animacaoCard1para2 {
    transform: rotate(-5deg) scale(.9) translateX(-40px) translateY(10px);
    z-index: 98;

}

.card4.animacaoCard1para2 {
    transform: rotate(calc(-10deg)) scale(0.8) translateX(-85px) translateY(20px);
    z-index: 97;

}

/* ? */

.card1.animacaoCard2para3 {
    z-index: 97;
    transform: rotate(10deg) scale(.8) translateX(85px) translateY(20px);
}

.card2.animacaoCard2para3 {
    z-index: 98;
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);

}

.card3.animacaoCard2para3 {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    z-index: 100;
}

.card4.animacaoCard2para3 {
    transform: rotate(-5deg) scale(.9) translateX(-40px) translateY(10px);
    z-index: 97;

}

/* ? */

.card1.animacaoCard3para4 {
    z-index: 97;
    transform: rotate(15deg) scale(.7) translateX(130px) translateY(30px);

}

.card2.animacaoCard3para4 {
    z-index: 98;
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);

}

.card3.animacaoCard3para4 {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    z-index: 100;
}

.card4.animacaoCard3para4 {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    z-index: 97;

}

/* ? */

.card1.animacaoCard3para4 {
    z-index: 97;
    transform: rotate(15deg) scale(.7) translateX(130px) translateY(30px);

}

.card2.animacaoCard3para4 {
    z-index: 98;
    transform: rotate(10deg) scale(.8) translateX(85px) translateY(20px);

}

.card3.animacaoCard3para4 {
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);
    z-index: 99;
}

.card4.animacaoCard3para4 {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    z-index: 100;

}