/*? documento responsavel pelo estilo dos cards */
section.sectionCards {
    background: radial-gradient(rgba(170, 247, 170, 0.313), rgba(157, 241, 157, 0.345));

    height: calc(100vh - 25px);
    width: 100vw;
    padding-inline: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.conteinerSectionCards {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

/* ? muda a cor da barra */
div.barraLateralTexto:hover * {
    background: rgb(4, 190, 4);
}

div.barraLateralTexto * {
    border-radius: 6px;
}

div.barraEsquerdaTexto,
div.barraDireitaTexto {
    padding: 20px;
    /* border: 1px solid; */
}

/* ? inverte a barra da direita para ter as mesmas animações da esquerda só que espelhada */
div.barraDireitaTexto {
    transform: rotateX(180deg);
}

div.barraSuperior {
    transform: translateY(2px);
}

/* ? define as animações da barra lateral do texto */
div.conteinerSectionCards:hover div.barraEsquerdaTexto div.barraSuperior {
    transform: rotate(8deg) translateY(1px);
}

div.conteinerSectionCards:hover div.barraEsquerdaTexto div.barraInferior {
    transform: rotate(-8deg) translateY(-1px);

}

div.conteinerSectionCards:hover div.barraDireitaTexto div.barraSuperior {
    transform: rotate(-8deg) translateY(1px);
}

div.conteinerSectionCards:hover div.barraDireitaTexto div.barraInferior {
    transform: rotate(8deg) translateY(-1px);

}

/* ? define o tamanho das partes da barra */
div.barraEsquerdaTexto *,
div.barraDireitaTexto * {
    background: rgb(76, 75, 75);

    width: 3px;
    height: 70px;

    transition: transform .8s ease-in-out, background .3s ease-in-out;
}

div.conteinerCards {
    height: 470px;
    width: 370px;
    /* border: 1px solid tomato; */
    cursor: pointer;
}

/* ? define os comportamentos dos cards */
div.card {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;

    width: 370px;
    height: 470px;
    padding: 20px;

    border: 2px solid #216425;
    border-radius: 16px;

    transition: all 1.2s ease-in-out;
}

/* ? definar o compoirtamento individual de cada card */
div.card1 {
    background: url(../public/imgCard1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 100;
}

div.card2 {
    background: url(../public/imgCard2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 99;
    transform: rotate(-5deg) scale(.9) translateX(-40px) translateY(10px);
}

div.card3 {
    background: url(../public/imgCard3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 98;
    transform: rotate(calc(-10deg)) scale(0.8) translateX(-85px) translateY(20px);
}

div.card4 {
    background: url(../public/imgCard4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    z-index: 97;
    transform: rotate(calc(-15deg)) scale(0.7) translateX(-130px) translateY(30px);
}

/* ? */

/* ? define o tamanho da arae do texto e das barras */
div.textSectionCards {
    width: 600px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    /* text-align: justify; */
}


div.textSectionCards p {
    display: none;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    color: rgb(76, 75, 75);

    transition: opacity 1.2s ease-in-out;
}

div.textSectionCards p.textSectionCards1 {
    display: block;
}

/* ! */
/* ? define como vão ser cada um dos pontos que os cards possam estar  */
/* ! */

/*? define como os cards vão se comportar com a primeira animação, onde o segundo card ira ao topo */
.card1.animacaoTopo2 {
    z-index: 99;
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);

}

.card2.animacaoTopo2 {
    z-index: 100;
    transform: rotate(0) scale(1) translateX(0) translateY(0);
}

.card3.animacaoTopo2 {
    transform: rotate(-5deg) scale(.9) translateX(-40px) translateY(10px);
    z-index: 98;

}

.card4.animacaoTopo2 {
    transform: rotate(calc(-10deg)) scale(0.8) translateX(-85px) translateY(20px);
    z-index: 97;

}

/* ! */
/*? define como os cards vão se comportar com a segunda animação, onde o terceiro card ira ao topo */
.card1.animacaoTopo3 {
    z-index: 97;
    transform: rotate(10deg) scale(.8) translateX(85px) translateY(20px);
}

.card2.animacaoTopo3 {
    z-index: 98;
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);

}

.card3.animacaoTopo3 {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    z-index: 100;
}

.card4.animacaoTopo3 {
    transform: rotate(-5deg) scale(.9) translateX(-40px) translateY(10px);
    z-index: 97;

}

/* ! */
/*? define como os cards vão se comportar com a terceira animação, onde o quarto card ira ao topo */
.card1.animacaoTopo4 {
    z-index: 97;
    transform: rotate(15deg) scale(.7) translateX(130px) translateY(30px);

}

.card2.animacaoTopo4 {
    z-index: 98;
    transform: rotate(10deg) scale(.8) translateX(85px) translateY(20px);

}

.card3.animacaoTopo4 {
    z-index: 99;
    transform: rotate(5deg) scale(.9) translateX(40px) translateY(10px);
}

.card4.animacaoTopo4 {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    z-index: 100;

}

/*? define a animação que o texto vai ter ao entrar na tela */
@keyframes animacaoTextoCard {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}